PORT=3000

# Comma-separated origins. Use *.vercel.app to allow all Vercel preview URLs.
CORS_ORIGINS=http://localhost:3003,https://tu-app.vercel.app,*.vercel.app

JWT_SECRET=change_me
JWT_EXPIRES_IN=1h
SALT_ROUNDS=10

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=vincobov
DB_SYNCHRONIZE=false
